/*
 * Home / Landing styles
 * --------------------------------------------------*/

// General settings
// -------------------------


// Referenz projekte (Teaser mode)

#block-system-main {
  .pane-title {
    padding-top: 30px;
    text-align: center;
    font-family: @pxl-title-font;
  }

  .node-node-block {
    padding-bottom: 50px;
    box-shadow: 0 20px 13px -15px @gray;
    -moz-box-shadow: 0 15px 10px -12px @gray;
    -webkit-box-shadow: 0 15px 10px -12px @gray;

    .field-name-body {
      margin: 50px;
      text-align: center;
      font-family: @pxl-text-font;
    }

  }

  .view-referenzen {

    .view-mode-teaser {
      position: relative;
      margin: 0 30px;

      .field-name-title {
        padding-top: 20px;

        @media @tablet {
          padding-top: 0;
        }
      }
    }
  }
}

