/*
 * Home / Landing styles
 * --------------------------------------------------*/

// General settings
// -------------------------


// Referenz projekte (Teaser mode)

body.page-home {

  .bootstrap-twocol-stacked {

    > .row-middle {
      padding-bottom: 50px;
      box-shadow: 0 20px 13px -15px @gray;
      -moz-box-shadow: 0 15px 10px -12px @gray;
      -webkit-box-shadow: 0 15px 10px -12px @gray;
    }

    .pane-node {

      .pane-title {
        padding-bottom: 10px;
        text-align: center;
      }

      .field-name-body {
        margin: 0 20px;
        text-align: center;
        font-family: @pxl-text-font;

        @media @normal {
          margin: 0 30px;
        }
      }
    }
  }


/* #block-system-main {
  .view-beduerfnis-grundsatz {
    padding-bottom: 50px;
    box-shadow: 0 20px 13px -15px @gray;
    -moz-box-shadow: 0 15px 10px -12px @gray;
    -webkit-box-shadow: 0 15px 10px -12px @gray;

    .views-row {
      display: inline-block;
      width: 100%;
      vertical-align: top;

      @media @tablet {
        width: 100%;
      }

      @media @normal {
        margin: 0 30px;
      }

      .field-name-title {
        text-align: center;
        margin-bottom: 20px;
      }

      .field-name-body {
        margin: 0 20px;
        text-align: center;
        font-family: @pxl-text-font;
      }
    }
  }

*/

  .pane-referenzen {
    padding-top: 30px;
    text-align: center;
    font-family: @pxl-title-font;

    .view-referenzen {

      .view-mode-teaser {
        position: relative;
        margin: 0 30px;

        .field-name-title {
          padding-top: 20px;

          @media @tablet {
            padding-top: 0;
          }
        }
      }
    }
  }

  .pane-kunden {
    padding-top: 30px;
    text-align: center;
    font-family: @pxl-title-font;

    .views-field-field-logos {
      margin: 0 5px;

      @media @tablet {
        margin: 0;
      }
    }
  }
}

